.primary_btn{
    display:flex;
    align-items: center;  
    justify-content: center;  
    gap: 2px;
    background-color: black;
    color:  white;    
    height: 40px;
    width:250px ;
    border-radius: 8px;
    cursor: pointer;
  
  }
  .secondary_button{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color:  black;    
    height: 40px;
    width: 86%;
    border-radius: 8px;
    cursor: pointer;

  }
