.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    ul{
        display: flex;
        gap: 1rem;
        li{
            list-style: none;
        }
    }
}

