@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container{
  width: 1280px;
  margin: 0 auto;
  
}

body{
  margin: 0;
  padding: 0px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  
}
.herocontainer{
  height:100vh ;
}


